@{
	ViewData["Title"] = "Home";
}

<div class="text-center text-light">
	<h1 class="display-4 fw-bold"><i class="bi bi-person-vcard"></i>Bem vindo!</h1>
	<p>O sistema de agendamendo de verdadeiros heróis!</p><link
	<li class="nav-item">
		<a class="btn btn-outline-light btn-lg" asp-area="Identity" asp-page="/Account/Login">Entrar</a>
	</li>
	<div class="col-1">
	</div>


</div>
