@{
	ViewData["Title"] = "Sobre nós";
}
<h1 class="text-light">@ViewData["Title"]</h1>

<h2 class="text-light">O Sistema de agendamento mais eficiente da região!</h2>

<h1 class="text-light"><i class="bi bi-hospital"></i>DubleMed<i class="bi bi-hospital"></i></h1>
